<% include quick-actions  %>

<header id="topnav" class="navbar navbar-default navbar-fixed-top clearfix" role="banner">

	<span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg">
		<a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
			<span class="icon-bg">
				<i class="fa fa-fw fa-bars"></i>
			</span>
		</a>
	</span>

	<a class="navbar-brand" href="/">Tours Admin</a>

	<span id="trigger-infobar" class="toolbar-trigger toolbar-icon-bg">
		<a data-toggle="tooltips" data-placement="left" title="Toggle Infobar">
			<span class="icon-bg">
				<i class="fa fa-fw fa-outdent"></i>
			</span>
		</a>
	</span>

	<ul class="nav navbar-nav toolbar pull-right">
		<!-- <li class="toolbar-icon-bg demo-headerdrop-hidden">
			<a href="#" id="headerbardropdown" title="Quick Actions">
				<span class="icon-bg">
					<i class="fa fa-fw fa-level-down"></i>
				</span>
				</i>
			</a>
		</li> -->

		<li class="toolbar-icon-bg hidden-xs" id="trigger-fullscreen">
			<a href="#" class="toggle-fullscreen">
				<span class="icon-bg">
					<i class="fa fa-fw fa-arrows-alt"></i>
				</span>
				</i>
			</a>
		</li>

		<li class="dropdown toolbar-icon-bg">
			<a href="#" class="dropdown-toggle" data-toggle='dropdown'>
				<span class="icon-bg">
					<i class="fa fa-fw fa-user"></i>
				</span>
			</a>
			<ul class="dropdown-menu userinfo arrow">
				<li>
					<a href="/profile">
						<span class="pull-left">Perfil</span>
						<i class="pull-right fa fa-user"></i>
					</a>
				</li>
				<li>
					<a href="/company">
						<span class="pull-left">Dados da Empresa</span>
						<i class="pull-right fa fa-cog"></i>
					</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="/logout">
						<span class="pull-left">Sair</span>
						<i class="pull-right fa fa-sign-out"></i>
					</a>
				</li>
			</ul>
		</li>

	</ul>

</header>