<div class="static-sidebar-wrapper sidebar-inverse">
	<div class="static-sidebar">
		<div class="sidebar">
			<div class="widget stay-on-collapse" id="widget-welcomebox">
				<div class="widget-body welcome-box tabular">
					<div class="tabular-row">
						<div class="tabular-cell welcome-avatar">
							<a href="/profile">
								<span id="menu-user-initials" class="avatar avatar-sm avatar-blue"></span>
							</a>
						</div>
						<div class="tabular-cell welcome-options">
							<span class="welcome-text">Bem vindo,</span>
							<span class="name" id="menu-user-name"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="widget stay-on-collapse" id="widget-sidebar">
				<nav role="navigation" class="widget-body">
					<ul class="acc-menu">
						<li class="nav-separator">Tours</li>
						<li>
							<a href="/">
								<i class="fa fa-home"></i>
								<span>Dashboard</span>
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<i class="fa fa-users"></i>
								<span>Clientes</span>
							</a>
							<ul class="acc-menu">
								<li><a href="/customer/list">Lista de Clientes</a></li>
								<li><a href="/customer/create">Novo Cliente</a></li>
							</ul>
						</li>
						<li>
							<a href="/tickets">
								<i class="fa fa-ticket"></i>
								<span>Reservas</span>
							</a>
						</li>
						<li>
							<a href="/services">
								<i class="fa fa-tags"></i>
								<span>Serviços</span>
							</a>
						</li>
						<li class="nav-separator">Configurações</li>
						<li>
							<a href="/company">
								<i class="fa fa-building"></i>
								<span>Empresa</span>
							</a>
						</li>
						<li>
							<a href="/profile">
								<i class="fa fa-user"></i>
								<span>Perfil</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>