<div class="static-sidebar-wrapper sidebar-inverse">
	<div class="static-sidebar">
		<div class="sidebar">
			<div class="widget stay-on-collapse" id="widget-welcomebox">
				<div class="widget-body welcome-box tabular">
					<div class="tabular-row">
						<div class="tabular-cell welcome-avatar">
							<a href="#">
								<img src="https://lh3.googleusercontent.com/-2n6ss5iWz0w/AAAAAAAAAAI/AAAAAAAAAAA/AB6qoq0jUL_MJr8DVwObvPK3PKPyZ0lHug/s64-c-mo/photo.jpg" class="avatar">
							</a>
						</div>
						<div class="tabular-cell welcome-options">
							<span class="welcome-text">Bem vindo,</span>
							<a href="#" class="name">Gabriel Barbosa</a>
						</div>
					</div>
				</div>
			</div>
			<div class="widget stay-on-collapse" id="widget-sidebar">
				<nav role="navigation" class="widget-body">
					<ul class="acc-menu">
						<li class="nav-separator">Explore</li>
						<li>
							<a href="/">
								<i class="fa fa-home"></i>
								<span>Dashboard</span>
							</a>
						</li>
						</li>
						<li class="nav-separator">Tours</li>
						<li>
							<a href="/customers">
								<i class="fa fa-users"></i>
								<span>Clientes</span>
							</a>
						</li>
						<li>
							<a href="/tickets">
								<i class="fa fa-ticket"></i>
								<span>Reservas</span>
							</a>
						</li>
						<li>
							<a href="/services">
								<i class="fa fa-tags"></i>
								<span>Serviços</span>
							</a>
						</li>
						<li class="nav-separator">Configurações</li>
						<li>
							<a href="/company">
								<i class="fa fa-building"></i>
								<span>Empresa</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>