<div class="infobar-wrapper scroll-pane">
  <div class="infobar scroll-content">
    <div id="widgetarea">
      <div class="widget">
        <div class="widget-heading">
          <a
            href="javascript:;"
            data-toggle="collapse"
            data-target="#recentactivity"
          >
            <h4>Próximos passeios</h4>
          </a>
        </div>
        <div id="recentactivity" class="collapse in">
          <div class="widget-body">
            <ul id="next-tours" class="recent-activities">
              <li>
                <div class="avatar">
                  <img
                    src="/assets/img/icon-tour.png"
                    class="img-responsive img-circle"
                  />
                </div>
                <div class="content">
                  <span class="msg">
                    <a href="#" class="person">Grand Canyon West</a>
                    <br />
                    João da Silva
                  </span>
                  <span class="time">01/07/2018 12:00</span>
                </div>
              </li>
            </ul>
            <a href="/ticket/list" class="more">Ver todos</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
