<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/meta %>

        <title>Tours Admin</title>

        <% include partials/styles %>

</head>

<body class="infobar-offcanvas">

    <% include partials/header %>

    <div id="wrapper">
        <div id="layout-static">
            <% include partials/left-menu %>
            <div class="static-content-wrapper">
                <div class="static-content">
                    <div class="page-content">
                        <ol class="breadcrumb">
                            <li class="">
                                <a href="/company">Configurações</a>
                            </li>
                            <li class="active">
                                <a href="/company">Empresa</a>
                            </li>
                        </ol>
                        <div class="page-heading">
                            <h1>Empresa</h1>
                            <div class="options">
                                <div class="btn-toolbar">
                                    <!-- <a href="/" class="btn btn-default">
                                    <i class="fa fa-fw fa-refresh"></i>
                                </a> -->
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h2>Dados da Empresa</h2>
                                        </div>
                                        <div class="panel-body">
                                            <form role="form" class="form-horizontal row-border" id="form-company" data-parsley-validate>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-md-2 control-label">Nome*</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="name" class="form-control" required>
                                                        </div>
                                                    </div>
                                                    <div class="row mt20">
                                                        <label class="col-md-2 control-label">Razão Social*</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="corporate-name" class="form-control" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-md-2 control-label">Código Postal</label>
                                                        <div class="col-md-2">
                                                            <input type="text" id="zipcode" class="form-control">
                                                        </div>
                                                        <!-- <div class="md-2">
                                                            <a href="#" class="btn btn-default mr10">Pesquisar CEP</a>
                                                            <a href="#" class="btn btn-default">Pesquisar Zipcode</a>
                                                        </div> -->
                                                    </div>
                                                    <div class="row mt20">
                                                        <label class="col-md-2 control-label">Endereço*</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="address" class="form-control" required>
                                                        </div>
                                                    </div>
                                                    <div class="row mt20">
                                                        <label class="col-md-2 control-label">Número</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="address-number" class="form-control" data-parsley-minlength="1" data-parsley-type="alphanum">
                                                        </div>
                                                    </div>
                                                    <div class="row mt20">
                                                        <label class="col-md-2 control-label">Complemento</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="address-2" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="row mt20">
                                                        <label class="col-md-2 control-label">Cidade*</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="city" class="form-control" required>
                                                        </div>
                                                    </div>
                                                    <div class="row mt20">
                                                        <label class="col-md-2 control-label">Estado*</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="state" class="form-control" required>
                                                        </div>
                                                    </div>
                                                    <div class="row mt20">
                                                        <label class="col-md-2 control-label">País*</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="country" class="form-control" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-md-2 control-label">E-mail*</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="email" class="form-control" data-parsley-type="email" required>
                                                        </div>
                                                    </div>
                                                    <div class="row mt20">
                                                        <label class="col-md-2 control-label">Telefone Principal*</label>
                                                        <div class="col-md-3">
                                                            <input type="text" id="phone" class="form-control" required>
                                                        </div>
                                                        <label class="col-md-2 control-label">Telefone Secundário</label>
                                                        <div class="col-md-3">
                                                            <input type="text" id="phone-secondary" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-md-2 control-label">Site</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="website" class="form-control" data-parsley-type="url">
                                                        </div>
                                                    </div>
                                                    <div class="row mt20">
                                                        <label class="col-md-2 control-label">Facebook</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="facebook" class="form-control" data-parsley-type="url">
                                                        </div>
                                                    </div>
                                                    <div class="row mt20">
                                                        <label class="col-md-2 control-label">Instagram</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="instagram" class="form-control" data-parsley-type="url">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="panel-footer">
                                                <div class="row">
                                                    <div class="col-md-8 col-md-offset-2">
                                                        <button id="btnSave" class="btn-success btn">Salvar</button>
                                                        <button id="btnClear" class="btn-inverse btn">Limpar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% include partials/footer %>
            </div>
        </div>
    </div>

    <input type="text" class="hide" id="apiUrl"/>
    <input type="text" class="hide" id="id"/>

    <% include partials/right-menu %>

    <% include partials/scripts %>

    <script>
        $(document).ready(function () {
            document.getElementById('apiUrl').value = "<%= api_url %>";
        });
    </script>
    <script src="assets/plugins/form-parsley/parsley.js"></script>
    <script src="assets/plugins/form-parsley/i18n/pt-br.js"></script>
    <script src="assets/plugins/form-parsley/parsley-config.js"></script>
    <script src="assets/js/pages/company/company.js"></script>
</body>

</html>