<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/meta %>

        <title>Tours Admin</title>

        <% include ../../partials/styles %>

            <link href="/assets/plugins/datatables/dataTables.bootstrap.css" type="text/css" rel="stylesheet">
            <link href="/assets/plugins/datatables/dataTables.fontAwesome.css" type="text/css" rel="stylesheet">

</head>

<body class="infobar-overlay">

    <% include ../../partials/header %>

        <div id="wrapper">
            <div id="layout-static">
                <% include ../../partials/left-menu %>
                    <div class="static-content-wrapper">
                        <div class="static-content">
                            <div class="page-content">
                                <ol class="breadcrumb">
                                    <li class="">
                                        <a href="/customers">Clientes</a>
                                    </li>
                                    <li class="active">
                                        <a href="#">Todos</a>
                                    </li>
                                </ol>
                                <div class="page-heading">
                                    <h1>Clientes</h1>
                                    <div class="options">
                                        <div class="btn-toolbar">
                                            <a href="/customer/create" class="btn btn-default" title="Novo Cliente">
                                                <i class="fa fa-fw fa-plus"></i>
                                                <span>Novo</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="panel-body panel-no-padding">
                                                        <table id="customer-list" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                            <thead>
                                                                <tr>
                                                                    <th>Nome</th>
                                                                    <th>E-mail</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% customers.forEach(function(customer) { %>
                                                                    <tr class="odd">
                                                                        <td>
                                                                            <%= customer.name %>
                                                                        </td>
                                                                        <td>
                                                                            <%= customer.email %>
                                                                        </td>
                                                                        <td>
                                                                            <a href="/customer/<%= customer._id%>/edit" class="btn btn-default-alt" alt="Editar">
                                                                                <i class="fa fa-pencil"></i>
                                                                            </a>
                                                                            <a href="/customer/<%= customer._id%>/delete" class="btn btn-danger-alt" alt="Excluir">
                                                                                <i class="fa fa-trash"></i>
                                                                            </a>                                                                          
                                                                        </td>
                                                                    </tr>
                                                                <% }); %>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% include ../../partials/footer %>
                        </div>
                    </div>
            </div>

            <% include ../../partials/right-menu %>

            <% include ../../partials/scripts %>

            <script src="/assets/plugins/datatables/jquery.dataTables.js"></script>
            <script src="/assets/plugins/datatables/dataTables.bootstrap.js"></script>
            <script src="/assets/plugins/datatables/dataTables.config.js"></script>
            <script src="/assets/js/pages/customer/customers.js"></script>
</body>

</html>