<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../partials/meta %>

    <title>Tours Admin</title>

    <% include ../../partials/styles %>
  </head>

  <body class="error">
    <div class="error-wrapper">
      <div class="container">
        <h1>404</h1>
        <br />
        <p>Desculpe, mas não foi possível encontrar esta página.</p>
        <p>Aparentemente a página não existe ou foi removida.</p>
        <br />
        <a class="btn btn-default" href="/">Ir para Página Inicial</a>
      </div>
    </div>

    <% include ../../partials/scripts %>
  </body>
</html>
