<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/meta %>

    <title>Tours Admin</title>

    <% include ../../partials/styles %>   

</head>

<body class="error">

    <div class="error-wrapper">
        <div class="container">
            <h1>500</h1>
            <br>
            <p>Erro interno do servidor</p>
            <p>Algo de errado aconteceu. Por favor, tente mais tarde.</p>
            <!-- <p>Internal server error</p>
            <p>Something has gone seriously wrong. Please try later.</p> -->
        </div>
    </div>

    <% include ../../partials/scripts %>

</body>

</html>